@import url("estilo.css");

/* ---------->>> MAIN <<<-----------*/

.main {
    width: 100%;
}

.intro-img {
    width: 50%;
    /* position: absolute; */
    /* left: ; */
}
/* .bg-intro {
    width: 90%;
    height: 500px;
    background: black;
    background: url("../image/catalogo.jpg");
} 
  
/* .intro-catalogo {
    background: #e69;
    width: 100%;
    height: 500px;
}

.img::after, .img::before {
    content: ' ';
    display: table;
    clear: both;
} 
*/
/* .img {
    width: 50%;
    position: absolute;
    left: 400px;

} */ 
    

























/* .main {
    margin: 130px;
} */
/* 
.produtos-catalogo {
    display: flex ;
    justify-content: center;
    flex-direction: column;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
}

.produto {
    display: flex;
    width: 150px;
    height: 300px;
    background: rgb(245, 242, 242);
    background: #e69;
    flex-direction: column;
    padding: 0 30px; 
    justify-content: center;
    margin: 10px;
}

.produto h3 {
    text-align: center;
    color: white;
}

.donut-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    border: 10px solid #cf966b;÷
    box-shadow: 0 0 0 10px #e69;
} */