@import url("estilo.css");

/* ---------->>> MAIN <<<-----------*/

.main {
    margin: 130px;
}

.produtos-catalogo {
    display: flex ;
    justify-content: center;
    flex-direction: column;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
}

.produto {
    display: flex;
    width: 150px;
    height: 300px;
    /* background: rgb(245, 242, 242); */
    /* background: #e69; */
    flex-direction: column;
    padding: 0 30px; 
    justify-content: center;
    margin: 10px;
}

.produto h3 {
    text-align: center;
    color: white;
}

.donut-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    /* border: 10px solid #cf966b;÷ */
    /* box-shadow: 0 0 0 10px #e69; */
}