/* ---------->>> RESET <<<-----------*/

body, h1, h2, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    padding: 0px;
}

li, a {
    text-decoration: none;
}

html {
    background-image: linear-gradient(-50deg, rgb(218, 215, 215) , rgb(245, 242, 242));
    /* rgb(230, 58, 121) */
}

/* ---------->>> CORES/FONTES PADRÕES <<<-----------*/

/* 
Amarelo- #FFC
Rosa Claro - #FDF
Rosa Escuro 1º - #FBC
Rosa Escuro 2º - #E69
Verde Escuro - #3AA
verde Claro - #CFF
*/

/* 
Fonte Primária - Ubuntu - font-family: 'Ubuntu', sans-serif;

    * Títulos - font-weight - 400
    *Textos - font-weight - 300


Fonte Secundária - Rock Salt -  font-family: 'Rock Salt', cursive; (Logo)
*/

/* ---------->>> ESTRUTURA <<<-----------*/

.estrutura {
    display: grid;
    grid-template-columns: 130px 1fr;
}

.barra {
    grid-column: 1 / -1;
}

.header {
    grid-column: 1 / 2;
    min-height: 100vh;
}

.main {
    grid-column: 2;
}

.footer {
    grid-column: 2;
    align-self: end;
}

/* ---------->>> BARRA SUPERIOR <<<-----------*/

.logo a {
    display: flex;
    align-content: center;   
}

.logo h1{
    color: #e69;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.barra-superBg {
    position: fixed;
    width: 100%;
    background: rgb(245, 242, 242);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-family: 'Rock Salt', cursive;
    padding: 0 15px;
}

.barra-info {
    display: flex;
}

.barra-info h2 {
    font-size: .85em;
    padding: 0 10px;
    font-weight: 300;
}

.icone-barra {
    padding: 0 15px;
    width: 20px;
    height: 20px;
}

/* ---------->>> MENU <<<-----------*/

.header-bg {
    display: flex;
    background: #3AA;
    position: fixed;
    width: 130px;
    justify-content: center;
}

.menu-lateral {
    display: flex;
    position: fixed;
    top: 80px;
}

.menu-ul {
    margin: 0 auto;
    align-self: center;
}

.menu-ul li {
    display: flex;
    justify-content: center;
}

.menu-ul li a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0;
    color: white; 
    text-align: center;
}

.icone {
    display: flex;
    padding: 8px 0;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.menu-ul li a:hover {
    width: 130px;
    background: rgb(241, 150, 184);
}

/* ---------->>> FOOTER <<<-----------*/

.footer-bg {
    background: rgba(212, 209, 209, 0.493);
}

.parag {
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    font-size: 0.85em;
}

