@import url("estilo.css");

/* ---------->>> MAIN <<<-----------*/

.main {
    width: 90.9%;
}

/* ---------->>> CADASTRO/FORMULÁRIO <<<-----------*/

.cadastro-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:#fff;
    border-left: 2px solid white;
}

.cad-background {
    width: 100%;
    height: 200px;
    background: #3aa;
}

.cad-background h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 3em;
}

.formulario {
    display: flex;
    width: 950px;
    position: absolute;
    top: 100px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.form-container {
    width: 745px;
} 

.aba-pessoais, .aba-endereco, .aba-login {
    margin: 30px 0;
}

.subtitulo {
    font-size: 1.1em;
    color: #4d4d4d;
    padding: 10px 0;
}

.linha-um, .linha-dois, .linha-tres, .linha-quatro, .linha-cinco, .linha-seis, .linha-sete {
    display: flex;
    margin-bottom: 10px;
}

.linha-dois, .linha-tres, .linha-seis, .linha-cinco, .linha-sete {
    display: flex;
    justify-content: space-between;
}

.linha-dupla, .linha-tripla{
    display: flex;
}

.label{
    padding: 12px;
    border-radius: 5px 0 0px 5px;
    background: #dbdbdb;
    color: #5f5f5f;
}

.label-nome{
    width: 150px;
    padding: 12px;
    border-radius: 5px 0 0px 5px;
    background: #dbdbdb;
    color: #5f5f5f;
}

.label-rua {
    padding: 12px;
    border-radius: 5px 0 0px 5px;
    background: #dbdbdb;
    color: #5f5f5f; 
}

.campo-nome, .campo-rua {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    color: #5f5f5f;
    padding-left: 10px;
    width: 100%;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dbdbdb;
}

.campo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    color: #5f5f5f;
    padding-left: 10px;
    width: 250px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dbdbdb;
}

.campo-triplo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    color: #5f5f5f;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dbdbdb;
    width: 155px;
}

.user-btn {
    width: 750px;
    display: flex;
    padding-bottom: 30px;
    justify-content: flex-end;

}

.submit, .reset {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    padding: 15px;
    font-size: 1em;
    margin-top: 5px;
}

.submit {
    border-radius: 5px 0 0 5px;
    color: white;
    background: #1c1;
    margin-right: 5px;
    cursor: pointer;
}

.reset {
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    background: red;
}