@import url(estilo.css);


body{
    font-family: 'Ubuntu', sans-serif;
}

/* ---------->>> MAIN <<<-----------*/

.main-logo {
    display: flex;
    justify-content: center;
}
.sobre-logo {
    width: 195px;
    margin: 20px 0;
}

.nossoTime {
    display: flex;
    justify-content: center;
}

.nossoTime h2 {
    display: inline-flex;
}

.parte-1, .parte-2 {
    padding: 0 20px;
}

/* ---------->>> HISTÓRIA <<<-----------*/

/* ---------->>> FOOTER <<<-----------*/



.footer {
    /* position: relative; */
    /* background: black; */
    /* color: white; */
    /* position: relative; */
}

.provisorio{
    width: 400px;
    height: 250px; 
}

.provisorio1{
    border-radius: 50%;
    width: 150px;
    height: 150px; 
}

.redes-sociais img {
    width: 28px;
    height: 28px;
}