@import url(estilo.css);


body{
    font-family: 'Ubuntu', sans-serif;
}

/* ---------->>> MAIN <<<-----------*/

.main-logo {
    display: flex;
    justify-content: center;
}
.sobre-logo {
    width: 195px;
    margin: 20px 0;
}

/* ---------->>> HISTÓRIA <<<-----------*/

.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}

.hist-titulo {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.t1, .t2{
    text-align: center;
    padding: 0 15px;
    width: 14px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.t1 {
    font-size: 30px;
    font-weight: 300;

}

.t2 {
    font-size: 23px;
    margin: 0 auto;
}

.hist-p {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    width: 550px;
    padding: 15px;
}

/* ---------->>> FOOTER <<<-----------*/



.footer {
    /* position: relative; */
    /* background: black; */
    /* color: white; */
    /* position: relative; */
}

